.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
} 

@media screen and (max-width: 870px) {
    .post-desktop {
        display: none;
    }
}

@media screen and (min-width: 870px) {
    .tablet {
        display: none;
    }
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }

/* @media screen and (min-width: 650px) {
    .mobile {
        display: none;
    }
} */


iframe{
    width: 100%;
}

.instagram-media{
    max-width: 100% !important;
    width: 100% !important;
}

.twitter-tweet{
    max-width: 100% !important;
    width: 100% !important;
}

.post-content p {
    font-family: Roboto;
}

.post-desktop{
    background-image: url("/src/assets/noisebackground.jpg");
    background-size: contain;
    
}
.tablet{
    background-image: url("/src/assets/noisebackground.jpg");
    background-size: contain;
}