.nextui-c-yrlUe-kJGdUE-activeColor-default{
    --nextui--navbarItemActiveColor: #8b0214 !important;
    --nextui--navbarItemHighlightBackgroundColor: #8b0214 !important;
    --nextui--navbarItemHighlightTextColor: white !important;
}

.nextui-navbar-brand{
    font-weight: 610;
}

.nextui-c-kzikkm-hfnKRU-color-default{
    --nextui--linkColor: white !important ;
}

.icon:hover{
    cursor: pointer;
}
