.nextui-c-yrlUe-kJGdUE-activeColor-default{
    --nextui--navbarItemActiveColor: #44041A !important;
    --nextui--navbarItemHighlightBackgroundColor: #300313 !important;
    --nextui--navbarItemHighlightTextColor: white !important;
}

.nextui-navbar-brand{
    font-weight: 610;
}

.nextui-c-kzikkm-hfnKRU-color-default{
    --nextui--linkColor: white !important ;
}

