@media screen and (max-width: 650px) {
    .desktop {
        display: none;
    }
    .mobile {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .subscribe-desktop{
        display: none
    }
    .subscribe-mobile{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 650px) {
    .mobile {
        display: none;
    }
    .desktop {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .subscribe-mobile{
        display: none
    }
}



.home{
    background: linear-gradient(#200000,#000000);
}

.container{
    /* transition: filter .75s ease-in-out;
    filter: grayscale(100%); */
    cursor: pointer;
}

.container:hover{
    filter: grayscale(0);
  cursor: pointer;
}

/* .container:hover{
    cursor: pointer;
    transform: scale(1.02);
} */

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 100%;
    padding: 4px;
    text-align: center;
}

.mobile-overlay {
    position: absolute;
    bottom: 0;
    background: '#00000022';
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 100%;
    padding: 4px;
    text-align: center;
}

.container:hover .overlay{
    cursor: pointer;
    opacity: 1;
}

.mobile-container p{
    cursor: pointer;
    opacity: 1;
}