@media screen and (max-width: 960px) {
    .desktop {
        display: none;
    }
    .subscribe-desktop{
        display: none
    }
    .subscribe-mobile{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 960px) {
    .mobile {
        display: none;
    }
    .subscribe-mobile{
        display: none
    }
}



.home{
    background: linear-gradient(#200000,#000000);
}

.container{
    margin-top: 24px;
    position: relative;
    transition: .5s ease;
}

.container:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 100%;
    padding: 4px;
    text-align: center;
}

.container:hover .overlay{
    cursor: pointer;
    opacity: 1;
}